Repository logux/docs: changes, and which lefthook commands are due for each by the changed paths.
All: order, spell, lint

order:
  run: ./scripts/check-order.js

spell:
  run: yaspeller {push_files}

lint:
  run: remark --no-stdout --frail --quiet {push_files}

chore: update unified api imports
  guide/starting/new-redux-client.md
  guide/starting/new-vuex-client.md
  guide/starting/replace-redux.md
  guide/starting/replace-vuex.md
Due: order, spell, lint

Update Logux Redux API
  guide/starting/new-redux-client.md
  guide/starting/replace-redux.md
Due: order, spell, lint

chore: cleanup
  guide/starting/new-redux-client.md
Due: order, spell, lint

chore: cleanup diff
  guide/starting/new-redux-client.md
  guide/starting/new-vuex-client.md
Due: order, spell, lint

fix: vuex install command
  guide/starting/new-vuex-client.md
  guide/starting/replace-vuex.md
Due: order, spell, lint

chore: cleanup
  recipes/authentication.md
Due: order, spell, lint

Add new unified Logux Redux API (#76)
  guide/concepts/node.md
  guide/concepts/reason.md
  guide/concepts/state.md
  guide/concepts/subprotocol.md
  guide/starting/new-redux-client.md
  guide/starting/replace-redux.md
  recipes/authentication.md
  recipes/subprotocol.md
  recipes/typescript.md
Due: order, spell, lint

Add new undo api (#75)
  guide/architecture/practice.md
  guide/concepts/action.md
  guide/concepts/state.md
  recipes/authentication.md
Due: order, spell, lint

Ask for Node.js >= 14
  package.json
Due: none

Use Node.js >= 14 on GitHub
  .github/workflows/test.yml
Due: none

Update unified api imports (#78)
  guide/starting/new-redux-client.md
  guide/starting/new-vuex-client.md
  guide/starting/replace-vuex.md
  recipes/authentication.md
Due: order, spell, lint

Update dependencies
  package.json
  yarn.lock
Due: none

Add cache to CI
  .github/workflows/test.yml
Due: none

Simplify docs
  README.md
Due: spell, lint

Typo
  guide/architecture/solved.md
Due: order, spell, lint

Use resend shortcut
  README.md
  guide/architecture/practice.md
  guide/concepts/action.md
  guide/concepts/meta.md
  guide/concepts/state.md
  guide/concepts/subscription.md
Due: order, spell, lint

FIx job name
  .github/workflows/test.yml
Due: none

Simplify another example
  guide/concepts/action.md
Due: order, spell, lint

Add 0/clean action docs
  recipes/zero-knowledge.md
Due: order, spell, lint

Clean up GitHub Action config
  .github/workflows/test.yml
Due: none

Fix branch name
  .github/workflows/deploy.yml
  README.md
Due: spell, lint

Fix workflow format
  .github/workflows/deploy.yml
  .github/workflows/test.yml
Due: none

Add new log.type()
  README.md
  guide/concepts/action.md
  guide/concepts/reason.md
  recipes/authentication.md
  recipes/subprotocol.md
  recipes/typescript.md
Due: order, spell, lint

Add colors to CI
  .github/workflows/test.yml
Due: none

Add encryptActions docs
  order.json
  package.json
  recipes/zero-knowledge.md
Due: order, spell, lint

Use nameless single job
  .github/workflows/test.yml
Due: none

Update dev practices
  .github/workflows/test.yml
  package.json
  yarn.lock
Due: none

Update Node.js
  .github/workflows/test.yml
  package.json
  yarn.lock
Due: none

Fix URLs
  guide/concepts/action.md
  guide/concepts/node.md
  guide/concepts/reason.md
  guide/starting/choosing-architecture.md
  guide/starting/replace-redux.md
  guide/starting/replace-vuex.md
  recipes/cross-tab.md
Due: order, spell, lint

Add Logux State
  guide/architecture/parts.md
Due: order, spell, lint

Clean up fs import
  scripts/check-order.js
Due: none

Remove Logux State from parts
  guide/architecture/parts.md
Due: order, spell, lint

feat(parts): add Logux Vue Devtools
  guide/architecture/parts.md
Due: order, spell, lint

test(yaspeller): add `devtools`
  package.json
Due: none

Add Logux Vue Devtools part (#83)
  guide/architecture/parts.md
  package.json
Due: order, spell, lint

Path conditions:
  order: any of: {order.json,**/*.md}
  spell: any of: *.md
  lint: any of: *.md
