Repository logux/docs: changes, and which lefthook commands are due for each by the changed paths.
All: order, spell, lint

order:
  run: ./scripts/check-order.js

spell:
  run: yaspeller {push_files}

lint:
  run: remark --no-stdout --frail --quiet {push_files}

UClarify text
  guide/concepts/subscription.md
Due: order, spell, lint

Remove yaspeller because of many unnecessary errors
  package.json
  pnpm-lock.yaml
Due: none

update docs, per discussion https://github.com/logux/docs/commit/ce27289ef0c672c67ba34713a779335100a424f1?notification_referrer_id=NT_kwDOAFgkfLI5NTAwMDM2ODU3OjU3NzY1MDg
  guide/concepts/subscription.md
Due: order, spell, lint

update docs, per discussion https://github.com/logux/docs/commit/ce27289ef0c672c67ba34713a779335100a424f1?notification_referrer_id=NT_kwDOAFgkfLI5NTAwMDM2ODU3OjU3NzY1MDg (#95)
  guide/concepts/subscription.md
Due: order, spell, lint

fix preadd docs
  recipes/zero-knowledge.md
Due: order, spell, lint

fix preadd docs (#97)
  recipes/zero-knowledge.md
Due: order, spell, lint

Fix CI
  package.json
Due: none

Typo
  package.json
Due: none

add the pagination example
  examples/pagination.md
  order.json
Due: order, spell, lint

cleanup the docs for the pagination example
  examples/pagination.md
Due: order, spell, lint

use only level 2 headings for pagination example
  examples/pagination.md
Due: order, spell, lint

cleanup the pagination example page
  examples/pagination.md
Due: order, spell, lint

move pagination example to recipes
  order.json
  recipes/pagination.md
Due: order, spell, lint

move links to Links section
  recipes/pagination.md
Due: order, spell, lint

move links to the corresponding sections
  recipes/pagination.md
Due: order, spell, lint

Add "examples" section and pagination example (#98)
  order.json
  recipes/pagination.md
Due: order, spell, lint

Update CI
  .github/workflows/test.yml
Due: none

Update link
  recipes/zero-knowledge.md
Due: order, spell, lint

Update dependencies
  package.json
  pnpm-lock.yaml
Due: none

Remove proxy since we are going to remove it from Logux Server
  guide/architecture/parts.md
  guide/architecture/practice.md
  guide/concepts/subprotocol.md
  guide/starting/choosing-architecture.md
  guide/starting/new-redux-client.md
  guide/starting/new-vuex-client.md
  guide/starting/node-server.md
  guide/starting/proxy-server.md
  guide/starting/replace-redux.md
  guide/starting/replace-vuex.md
  order.json
  protocols/backend/examples.md
  protocols/backend/spec.md
  protocols/backend/versions.md
  recipes/authentication.md
  recipes/subprotocol.md
Due: order, spell, lint

Typo
  recipes/zero-knowledge.md
Due: order, spell, lint

Improve main description
  README.md
Due: spell, lint

Typo
  README.md
Due: spell, lint

Add more unique features
  README.md
Due: spell, lint

Fix line pattern
  README.md
Due: spell, lint

Show types re-using between client and server
  README.md
Due: spell, lint

FIx API
  README.md
Due: spell, lint

Fix line breaks
  README.md
Due: spell, lint

Remove unnecessary page
  README.md
  guide/starting/choosing-architecture.md
  order.json
Due: order, spell, lint

Remove Redux from docs
  README.md
  guide/starting/client.md
  guide/starting/new-redux-client.md
  guide/starting/new-vuex-client.md
  guide/starting/node-server.md
  guide/starting/project.md
  guide/starting/replace-redux.md
  guide/starting/replace-vuex.md
  guide/starting/server.md
  order.json
Due: order, spell, lint

Typo
  guide/starting/project.md
Due: order, spell, lint

Add examples
  examples/list.md
  order.json
Due: order, spell, lint

fix typo
  guide/architecture/practice.md
Due: order, spell, lint

fix typo (#100)
  guide/architecture/practice.md
Due: order, spell, lint

Use const from api in server guide
  guide/starting/server.md
Due: order, spell, lint

Update Node.js and pnpm on CI
  .github/workflows/test.yml
Due: none

Update dependencies
  README.md
  package.json
  pnpm-lock.yaml
  recipes/cross-tab.md
Due: order, spell, lint

Add actions-up and update dependencies
  .github/workflows/test.yml
  package.json
  pnpm-lock.yaml
Due: none

Path conditions:
  order: any of: {order.json,**/*.md}
  spell: any of: *.md
  lint: any of: *.md
