Repository logux/docs: changes, and which lefthook commands are due for each by the changed paths.
All: order, spell, lint

order:
  run: ./scripts/check-order.js

spell:
  run: yaspeller {push_files}

lint:
  run: remark --no-stdout --frail --quiet {push_files}

fix(replace-vuex): rewrite introduction
  guide/starting/replace-vuex.md
Due: order, spell, lint

Init Replace Vuex page (#54)
  guide/starting/replace-vuex.md
  order.json
  package.json
Due: order, spell, lint

Add TypeScript recipes
  recipes/type-script.md
Due: order, spell, lint

Update imports
  guide/concepts/action.md
  guide/concepts/meta.md
  guide/concepts/node.md
  guide/concepts/subscription.md
  guide/starting/new-client.md
  guide/starting/replace-redux.md
  guide/starting/replace-vuex.md
  recipes/authentication.md
Due: order, spell, lint

Add TypeScript docs to list
  order.json
  recipes/typescript.md
Due: order, spell, lint

Fix syntax
  order.json
Due: order

Typo
  package.json
  recipes/typescript.md
Due: order, spell, lint

Update dependencies
  package.json
  yarn.lock
Due: none

Add Vuex to homepage
  README.md
Due: spell, lint

chore(readme): add vue/vuex simple example
  README.md
Due: spell, lint

chore(readme): add vue/vuex simple example (#55)
  README.md
Due: spell, lint

fix(readme): indentation style
  README.md
Due: spell, lint

fix(readme): indentation style (#56)
  README.md
Due: spell, lint

Fix syntax highlight
  README.md
Due: spell, lint

Fix action processing steps
  README.md
Due: spell, lint

Mention back-end URL env var
  protocols/backend/spec.md
Due: order, spell, lint

fix(logux-parts): corrections
  guide/architecture/parts.md
Due: order, spell, lint

chore(logux-parts): add logux vuex
  guide/architecture/parts.md
Due: order, spell, lint

chore(readme): update vuex example with mixin
  README.md
Due: spell, lint

Update Logux Parts (#57)
  guide/architecture/parts.md
Due: order, spell, lint

chore(readme): update vuex example with mixin (#58)
  README.md
Due: spell, lint

Move resend to the first step
  README.md
  guide/concepts/action.md
  guide/concepts/meta.md
  guide/concepts/state.md
  guide/concepts/subscription.md
Due: order, spell, lint

Add Logux Rack to parts
  guide/architecture/parts.md
Due: order, spell, lint

Add Logux Django to parts
  guide/architecture/parts.md
Due: order, spell, lint

Fix spelling check
  package.json
Due: none

Update Node.js to install
  .github/workflows/test.yml
Due: none

Update action.md
  guide/concepts/action.md
Due: order, spell, lint

Update action.md (#59)
  guide/concepts/action.md
Due: order, spell, lint

Limit token to string
  protocols/backend/spec.md
Due: order, spell, lint

Add meta.id to error answer
  protocols/backend/spec.md
Due: order, spell, lint

Rename env variable to LOGUX_CONTROL_SECRET
  guide/starting/proxy-server.md
  protocols/backend/spec.md
  recipes/authentication.md
Due: order, spell, lint

Typo
  guide/concepts/node.md
Due: order, spell, lint

Rename token to credentials
  guide/concepts/node.md
  guide/starting/new-client.md
  guide/starting/replace-redux.md
  guide/starting/replace-vuex.md
  protocols/backend/spec.md
  protocols/ws/examples.md
  protocols/ws/spec.md
  recipes/authentication.md
Due: order, spell, lint

Improve backend protocol examples
  protocols/backend/examples.md
Due: order, spell, lint

Rename backend protocol key
  protocols/backend/examples.md
  protocols/backend/spec.md
Due: order, spell, lint

Use string for User ID
  guide/starting/new-client.md
  guide/starting/replace-redux.md
  guide/starting/replace-vuex.md
  recipes/authentication.md
Due: order, spell, lint

Fix example
  protocols/backend/examples.md
Due: order, spell, lint

Add Vuex to choosing
  guide/starting/choosing-architecture.md
Due: order, spell, lint

Path conditions:
  order: any of: {order.json,**/*.md}
  spell: any of: *.md
  lint: any of: *.md
