Repository logux/docs: changes, and which lefthook commands are due for each by the changed paths.
All: order, spell, lint

order:
  run: ./scripts/check-order.js

spell:
  run: yaspeller {push_files}

lint:
  run: remark --no-stdout --frail --quiet {push_files}

Move Logux Vue Devtools to Vuex
  guide/architecture/parts.md
Due: order, spell, lint

Update readme client-side js bundle link
  README.md
Due: spell, lint

Update readme client-side js bundle link (#84)
  README.md
Due: spell, lint

Fix missing nanostores deps in the Readme
  guide/starting/new-redux-client.md
Due: order, spell, lint

Fix missing nanostores deps in the Readme (#85)
  guide/starting/new-redux-client.md
Due: order, spell, lint

Change minimum Node.js version to 12
  guide/starting/node-server.md
  guide/starting/proxy-server.md
Due: order, spell, lint

Change minimum Node.js version to 12 (#87)
  guide/starting/node-server.md
  guide/starting/proxy-server.md
Due: order, spell, lint

Updated example of Logux Server to ESM
  guide/starting/node-server.md
  guide/starting/proxy-server.md
Due: order, spell, lint

Updated example of Logux Server to ESM (#89)
  guide/starting/node-server.md
  guide/starting/proxy-server.md
Due: order, spell, lint

Clean up dependencies
  .github/workflows/test.yml
  package.json
  scripts/check-order.js
  yarn.lock
Due: none

Adds recipe about deployment
  package.json
  recipes/deployment.md
Due: order, spell, lint

Adds deployment recipe to order.json
  order.json
Due: order

Adds recipe about deployment (#90)
  order.json
  package.json
  recipes/deployment.md
Due: order, spell, lint

Update dependencies
  package.json
  yarn.lock
Due: none

Add ignore-scripts to yarn in Docker for better security
  recipes/deployment.md
Due: order, spell, lint

Move from Yarn to pnpm
  .github/workflows/test.yml
  .gitignore
  package.json
  pnpm-lock.yaml
  yarn.lock
Due: none

Fix remark plugins
  package.json
  pnpm-lock.yaml
Due: none

Promote Vite instead of Parcel
  guide/starting/new-redux-client.md
  guide/starting/new-vuex-client.md
Due: order, spell, lint

Update dependencies
  package.json
  pnpm-lock.yaml
Due: none

Fix spelling check
  package.json
Due: none

Update CI config
  .github/workflows/test.yml
Due: none

Update CI, dependencies and links
  .github/workflows/test.yml
  README.md
  guide/architecture/practice.md
  guide/concepts/action.md
  guide/starting/new-redux-client.md
  package.json
  pnpm-lock.yaml
Due: order, spell, lint

Fix nano-staged config
  package.json
Due: none

Update README.md
  README.md
Due: spell, lint

Update README.md (#91)
  README.md
Due: spell, lint

Update dependencies
  .github/workflows/test.yml
  package.json
  pnpm-lock.yaml
Due: none

Add equals sign
  README.md
Due: spell, lint

Add equals sign (#92)
  README.md
Due: spell, lint

Update pnpm
  .github/workflows/test.yml
  pnpm-lock.yaml
Due: none

Update Node.js
  .github/workflows/test.yml
Due: none

Update practice.md
  guide/architecture/practice.md
Due: order, spell, lint

Update practice.md (#93)
  guide/architecture/practice.md
Due: order, spell, lint

Update dependencies and run tests in parallel
  package.json
  pnpm-lock.yaml
Due: none

Update links
  .github/workflows/deploy.yml
  README.md
  guide/concepts/action.md
  guide/concepts/node.md
  guide/concepts/reason.md
  guide/starting/choosing-architecture.md
  guide/starting/node-server.md
  guide/starting/proxy-server.md
  guide/starting/replace-redux.md
  guide/starting/replace-vuex.md
  package.json
  protocols/backend/spec.md
  recipes/tests.md
Due: order, spell, lint

Remove Gitter
  guide/starting/choosing-architecture.md
  guide/starting/proxy-server.md
  package.json
  recipes/authentication.md
Due: order, spell, lint

Fix missed link
  guide/starting/proxy-server.md
Due: order, spell, lint

Update CI actions
  .github/workflows/test.yml
Due: none

Path conditions:
  order: any of: {order.json,**/*.md}
  spell: any of: *.md
  lint: any of: *.md
