Repository logux/docs: changes, and which lefthook commands are due for each by the changed paths.
All: order, spell, lint

order:
  run: ./scripts/check-order.js

spell:
  run: yaspeller {push_files}

lint:
  run: remark --no-stdout --frail --quiet {push_files}

Rename stack to details
  protocols/backend/examples.md
  protocols/backend/spec.md
Due: order, spell, lint

Update dependencies
  package.json
  yarn.lock
Due: none

Add subprotocol to auth command
  protocols/backend/examples.md
  protocols/backend/spec.md
  protocols/backend/versions.md
Due: order, spell, lint

Fix answer code
  protocols/backend/spec.md
Due: order, spell, lint

Add subprotocol key to authenticated answer
  protocols/backend/examples.md
  protocols/backend/spec.md
  protocols/backend/versions.md
Due: order, spell, lint

Add action answer
  protocols/backend/examples.md
  protocols/backend/spec.md
  protocols/backend/versions.md
Due: order, spell, lint

Update back-end links
  protocols/backend/spec.md
Due: order, spell, lint

Spelling check
  protocols/backend/spec.md
Due: order, spell, lint

Add lint-staged
  lefthook.yml
  package.json
  yarn.lock
Due: none

Release 4 version of WebSocket protocol
  package.json
  protocols/ws/versions.md
Due: order, spell, lint

Update replace-vuex.md
  guide/starting/replace-vuex.md
Due: order, spell, lint

Update replace-vuex.md (#70)
  guide/starting/replace-vuex.md
Due: order, spell, lint

Replace chalk to kleur
  package.json
  yarn.lock
Due: none

Use kleur instead of chalk
  package.json
  scripts/check-order.js
  yarn.lock
Due: none

Fix headers example
  recipes/headers.md
Due: order, spell, lint

Remove any color library
  package.json
  scripts/check-order.js
  yarn.lock
Due: none

chore: rename subscriptionMixin to loguxMixin
  README.md
  guide/architecture/compare.md
  guide/architecture/practice.md
  guide/concepts/subscription.md
Due: order, spell, lint

chore: use plugin API
  guide/starting/replace-vuex.md
Due: order, spell, lint

fix: typo
  guide/starting/replace-vuex.md
Due: order, spell, lint

fix(new-client): typo
  guide/starting/new-client.md
Due: order, spell, lint

feat(new-vuex-client): init
  guide/starting/new-vuex-client.md
Due: order, spell, lint

chore(order): add new-vuex-client page
  order.json
Due: order

test(yaspeller): update dictionary
  package.json
Due: none

chore(new-vuex-client): simplify text
  guide/starting/new-vuex-client.md
Due: order, spell, lint

fix(practice): typo
  guide/architecture/practice.md
Due: order, spell, lint

fix(state): typo
  guide/concepts/state.md
Due: order, spell, lint

chore: rename new-client to new-redux-client
  guide/starting/choosing-architecture.md
  guide/starting/new-redux-client.md
  guide/starting/node-server.md
  guide/starting/replace-redux.md
  order.json
Due: order, spell, lint

chore(subscription): add loguxComponent
  guide/concepts/subscription.md
Due: order, spell, lint

fix(subscription): typo
  guide/concepts/subscription.md
Due: order, spell, lint

Fix "9 kB" link in README
  README.md
Due: spell, lint

Fix "9 kB" link in README (#72)
  README.md
Due: spell, lint

Add authId to wrongSubprotocol answer in Backend Protocol
  protocols/backend/spec.md
Due: order, spell, lint

Update Logux Vuex to 0.7 (#71)
  README.md
  guide/architecture/compare.md
  guide/architecture/practice.md
  guide/concepts/state.md
  guide/concepts/subscription.md
  guide/starting/choosing-architecture.md
  guide/starting/new-redux-client.md
  guide/starting/new-vuex-client.md
  guide/starting/node-server.md
  guide/starting/replace-redux.md
  order.json
  package.json
Due: order, spell, lint

chore: update readme
  README.md
Due: spell, lint

chore: update new-vuex-client
  guide/starting/new-vuex-client.md
Due: order, spell, lint

chore: update replace-vuex
  guide/starting/replace-vuex.md
Due: order, spell, lint

test(yaspeller): add "composable" to the dictionary
  package.json
Due: none

chore: update architecture/practice
  guide/architecture/practice.md
Due: order, spell, lint

Path conditions:
  order: any of: {order.json,**/*.md}
  spell: any of: *.md
  lint: any of: *.md
