Repository logux/docs: changes, and which lefthook commands are due for each by the changed paths.
All: order, spell, lint

order:
  run: ./scripts/check-order.js

spell:
  run: yaspeller {push_files}

lint:
  run: remark --no-stdout --frail --quiet {push_files}

Use modern import.meta.dirname
  recipes/deployment.md
Due: order, spell, lint

Move actions-up to dev dependencies
  package.json
  pnpm-lock.yaml
Due: none

Remove old link
  recipes/subprotocol.md
Due: order, spell, lint

Move to number as subprotocol
  guide/architecture/core.md
  guide/architecture/solved.md
  guide/concepts/meta.md
  guide/concepts/subprotocol.md
  guide/starting/project.md
  guide/starting/server.md
  protocols/ws/spec.md
  recipes/authentication.md
  recipes/deployment.md
  recipes/subprotocol.md
Due: order, spell, lint

Add protocol version
  protocols/ws/versions.md
Due: order, spell, lint

Update dependencies
  .github/workflows/test.yml
  package.json
  pnpm-lock.yaml
Due: none

typos + arcticles fix
  guide/starting/project.md
Due: order, spell, lint

typos + arcticles fix (#102)
  guide/starting/project.md
Due: order, spell, lint

Update EM banner
  README.md
Due: spell, lint

Improve binary format docs
  protocols/ws/binary.md
Due: order, spell, lint

Update dependencies
  package.json
  pnpm-lock.yaml
Due: none

Add binary protocol draft
  order.json
  protocols/ws/binary.md
Due: order, spell, lint

Add public Dev Container
  .devcontainer.json
Due: none

Update email
  LICENSE
  package.json
Due: none

Move to oxfmt
  oxfmt.config.ts
  package.json
  pnpm-lock.yaml
  scripts/check-order.js
Due: none

Update dependencies
  .github/workflows/test.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Fix docs validation script
  package.json
  protocols/ws/spec.md
Due: order, spell, lint

Explain new ID compression
  guide/concepts/meta.md
  protocols/ws/binary.md
  protocols/ws/examples.md
  protocols/ws/spec.md
  protocols/ws/versions.md
Due: order, spell, lint

Format docs with oxfmt rules
  examples/list.md
  guide/architecture/compare.md
  guide/architecture/core.md
  guide/architecture/parts.md
  guide/architecture/practice.md
  guide/architecture/solved.md
  guide/concepts/action.md
  guide/concepts/meta.md
  guide/concepts/node.md
  guide/concepts/reason.md
  guide/concepts/state.md
  guide/concepts/subprotocol.md
  guide/concepts/subscription.md
  guide/starting/client.md
  oxfmt.config.ts
  protocols/ws/binary.md
  protocols/ws/examples.md
  protocols/ws/spec.md
  protocols/ws/versions.md
  recipes/authentication.md
  recipes/cross-tab.md
  recipes/deployment.md
  recipes/pagination.md
  recipes/subprotocol.md
  recipes/tests.md
  recipes/typescript.md
  recipes/zero-knowledge.md
Due: order, spell, lint

Simplify ID encoding in text protocol and fix negative shift support in binary
  protocols/ws/binary.md
  protocols/ws/examples.md
  protocols/ws/spec.md
  protocols/ws/versions.md
Due: order, spell, lint

Use UNIX time in connect/connected
  protocols/ws/examples.md
  protocols/ws/spec.md
  protocols/ws/versions.md
Due: order, spell, lint

Remove epoch
  guide/concepts/meta.md
  protocols/ws/examples.md
  protocols/ws/spec.md
  protocols/ws/versions.md
Due: order, spell, lint

Update script for modern JS
  package.json
  pnpm-lock.yaml
  scripts/check-order.js
  scripts/check-order.ts
Due: none

Release Protocol 6
  protocols/ws/versions.md
Due: order, spell, lint

Fix missed ids form of 0/clean action
  protocols/ws/binary.md
Due: order, spell, lint

Remove EM banner since it is conflicts with website generator
  README.md
Due: spell, lint

Add ready message
  protocols/ws/binary.md
  protocols/ws/examples.md
  protocols/ws/spec.md
Due: order, spell, lint

Tune text a little
  protocols/ws/binary.md
  protocols/ws/examples.md
  protocols/ws/spec.md
Due: order, spell, lint

Change unknown message spec
  protocols/ws/spec.md
Due: order, spell, lint

Update dependencies
  .github/workflows/test.yml
  pnpm-lock.yaml
Due: none

Release protocol 7
  protocols/ws/versions.md
Due: order, spell, lint

Path conditions:
  order: any of: {order.json,**/*.md}
  spell: any of: *.md
  lint: any of: *.md
